.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #38A6DC;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: 300;
}

.accounts {
  display: flex;
  height: 100%;
}